.layoutContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-top:80px;
    margin-bottom: 120px;
}
.navBar{
    display: flex;
    width: 100%;
    margin-bottom:48px;
}
.navBar li{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--text-secondary);
    list-style-type: none;
    width: 100%;
    height: 52px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: var(--text-secondary);
}
.active{
    background: var(--foreground);
    color: var(--background) !important;
}


@media (max-width: 1400px) {

}
@media (max-width: 1200px) {
    .navBar li{
        font-size: 14px;

    }
}
@media (max-width: 998px) {

}

@media (max-width: 768px) {
  .navBar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 12px;
    margin-bottom:48px;
    }
    .navBar li{
        border-bottom: 0.5px solid var(--text-secondary);
        border-top: 0px solid var(--text-secondary);
        border-left: 0px solid var(--text-secondary);
        border-right: 0px solid var(--text-secondary);
        font-size: 14px;
    }

}
@media (max-width: 580px) {

}