.forgotPasswordContainer{
    width: 623px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 69px;
}

@media (max-width: 698px) {
  .forgotPasswordContainer h2{
    font-size: 26px;
  }
  .forgotPasswordContainer {
    width: 100%;
  }
/*   .tab {
    font-size: 15px;
  } */
}