.header{
  width: 100%;
  margin-top: 92px;
  height:auto;
}
.bannerTxt{
  width: 44.44%;
  text-align: center;
  margin: auto auto;
}
.bannerTxt h1{
  margin: auto auto;
  font-size: 48px;
  width: 80%;
}
.bannerTxt p{
  margin: auto auto;
  margin-top:16px ;
  width: 66%;
  color: var(--text-secondary);
  font-size: 20px;
  line-height: 32px;
}
.bannerBtn{
  margin: auto auto;
  margin-top:48px ;
  background: var(--foreground);
  color: var(--background);
}
.header img{
  position: relative;
  top: -30;
  width: 100%;
  object-fit: cover;
}

/*Live Bidding*/
.liveBidding{
  background: #F2F0DB;
  padding-top: 56px;
  padding-bottom: 101px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sectionHeader{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
/* Featured Artists */
.featuredArtists{
  height: 576px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/*About us*/
.aboutUs{
  display: flex;
  height: auto;
  justify-content: center;
}
.aboutContainer{
  margin-top: 72px;
  display: flex;
  gap:44px;
}
.aboutContainer img{
  width: 475px;
  height:634px;
}

.aboutTxt{
  display: flex;
  flex-direction: column;
  gap:56px;
  align-self:last baseline;
  height: fit-content;
}
.aboutTxtHeader h2{
  margin-bottom: 24px;

}
.aboutTxt p{
  color:var(--text-primary);
  font-weight:500;
  line-height:27px;
  font-size: 16px;
}
.aboutcardPack{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:41px;
}
.aboutcard{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.aboutcard h3{
  font-size:18px;
}

/* FAQ */
.FAQ{
  margin-top: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.faqContainer{
  width: 50%;
}
.questionPacks{
  display: flex;
  flex-direction: column;
  gap:45px;
  height: auto;
  margin-top: 56px;
}
.questionPack{
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 20px;
  height: fit-content;

}
.questionHeader{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  cursor: pointer;
}
.answer{
  width: 80%;
  line-height: 27px;
}
.answerNoShow{
  height: 0;
  display: hidden;
  overflow: hidden;
}

@media (max-width: 1400px) {
  .bannerTxt{
    width: 60%;
  }
  .bannerTxt h1{
    font-size: 44px;
    width: 80%;
    line-height: 56px;
  }
  .bannerTxt p{
    width: 66%;
    font-size: 20px;
  }
}
@media (max-width: 1200px) {
  .bannerTxt{
    width: 70%;
  }
  .bannerTxt h1{
    font-size: 40px;
    width: 90%;
    line-height: 54px;
  }
  .bannerTxt p{
    width: 66%;
    font-size: 19px;
  }
  .header img{
    top: 10;
  }
  
}
@media (max-width: 992px) {
  .bannerTxt h1{
    font-size: 32px;
  }
  .bannerTxt p{
    width: 66%;
    font-size: 18px;
  }

  .aboutContainer{
    flex-direction: column;
    margin-top: 72px;
    display: flex;
    gap:44px;
  }
  .aboutContainer img{
    width: 100%;
    height:634px;
    object-fit:scale-down;
  }
  .faqContainer{
    width: 70%;
  }
  .questionHeader h3{
    font-size: 18px;
  }
}
@media (max-width: 768px) {
/*   .questionHeader{
    gap: 20px;
  } */
  .aboutContainer img{
    width: 100%;
    height:534px;
    object-fit:contain;
    object-position: top;
  }
  .questionHeader h3{
    font-size: 16px;
    width: 85%;
  }
  .bannerTxt{
    width: 80%;
  }
  .bannerTxt h1{
    font-size: 28px;
    width: 100%;
    line-height: 40px;
  }
  .bannerTxt p{
    width: 76%;
    font-size: 17px;
  }
  .bannerBtn{
    margin-top:28px ;
  }
  .faqContainer{
    width: 85%;
  }
}
@media (max-width: 576px) {
  .aboutContainer img{
    width: 100%;
    height:434px;
    object-fit:cover;
    object-position: top;
  }
  .aboutTxt{
    gap:41px;
  }
  .aboutcardPack{
    grid-template-columns:1fr;
    gap:31px;
  }
  .faqContainer{
    width: 90%;
  }
  .questionHeader svg{
    height: 18px;
    width: 18px;
  }
/*   .bannerTxt{
    width: 80%;
  }
  .bannerTxt h1{
    font-size: 28px;
    width: 100%;
    line-height: 40px;
  }
  .bannerTxt p{
    width: 76%;
    font-size: 17px;
  } */

}
